<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3002/public/css/style.css">
    <title>Gerador de arquivos PDF</title>
</head>

<body>
    <header>
        <hr id="inicio">

        <h1>Mateus dos Santos Pereira</h1>
        <p>
            Endereço: José Antônio Asmar, 278, Pompéia, SP. <br>
            CEP: 17586052. <br>
            Telefône: <span class="blue">+55 14 99889-9165</span>. <br>
            E-mail: <span class="blue">pereira.mateus.0111@gmail.com</span>. <br>
            Data de nascimento: 01/11/2006.
        </p>

        <hr>

        <h2>Histórico Profissional</h2>
        <p>
            Trabalhos: Garçom
        </p>

        <hr>

        <h2>Desenvolvimento de Sistemas</h2>

        <p>
            Instituição: SENAI Shunji Nishimura. <br>
            Local: Pompéia, SP. <br>
            Início: Janeiro de 2022. <br>
            Término: Dezembro de 2024. <br>
            Estado: Cursando.
        </p>

        <hr>

        <h2>Habilidades</h2>

        <p>
            Meus conhecimentos técnicos na parte de linguagem de programação incluem JavaScript, principalmente. Ainda
            assim, tenho experiências com as linguagens PHP e Python. A linguagem JavaScript utilizo-lha para fazer
            projetos, criar alguma aplicação ou API. <br>
            Eu tenho também experiência com a linguagem SQL e com o banco de dados MySQL. <br>
            Possuo experiências com os fremeworks React JS e Ionic. Dentre esses eu utilizo mais o React JS. <br>
            Para o desenvolvimento front-end eu utilizo a linguagem de marcação HTML ou a View Engine, proveniente esta
            do Node JS, EJS e CSS.
        </p>

    </header>
</body>

</html>