<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/public/css/style.css">
    <title>Gerador de arquivos PDF</title>
</head>

<body>
    <header>
        <hr id="inicio">

        <h1>Mateus dos Santos Pereira</h1>
        <p>
            Endereço: José Antônio Asmar, 278, Pompéia, SP. <br>
            CEP: 17586052. <br>
            Telefône: <span class="blue">+55 14 99889-9165</span>. <br>
            E-mail: <span class="blue">pereira.mateus.0111@gmail.com</span>. <br>
            Data de nascimento: 01/11/2006.
        </p>

        <hr>

        <h2>Objetivo</h2>
        <p>
            Estágio no Setor de TI | Jovem Aprendiz Desenvolvimento de Sistema
        </p>

        <hr>

        <h2>Resumo Qualificações</h2>

        <p>
            Linguagens de Programação: Conhecimento em JavaScript, com experiência em projetos acadêmicos e pessoais,
            incluindo a criação de aplicações e APIs. Experiência inicial em PHP e Python, aplicadas em projetos de
            estudo. <br>
            Banco de Dados: Conhecimento prático em SQL e MySQL, com foco em consultas e gestão de bancos de dados
            relacionais, adquiridos por meio de projetos de aprendizado. <br>
            Frameworks: Familiaridade com React JS, usado principalmente em projetos de front-end. Experiência
            introdutória com Ionic, explorando seu uso em aplicações móveis. <br>
            Desenvolvimento Front-End: Competência em HTML e CSS para criação de layouts básicos e estilização de
            páginas web. Experiência com EJS e View Engine (Node.js) para renderização de conteúdo dinâmico em projetos
            de estudo.
        </p>


        <br><br><br>

        <h2>Formação Acadêmica</h2>

        <p>
            Desenvolvimento de Sistema – SENAI Shunji Nishimura (Pompéia) – Início em Ago/2022 / Conclusão em Jun/2024
        </p>

        <hr>

        <h2>Formação Escolar</h2>

        <p>
            Ensino Médio – SENAI Shunji Nishimura (Pompéia) – Início em Jan/2022 / Conclusão em Dez/2024
        </p>

        <hr>

        <h2>Projetos Acadêmicos</h2>
        <p>
            Apresentação dos projetos desenvolvidos que refletem minhas habilidades técnicas e meu aprendizado contínuo.
            GitHub: https://github.com/mateussantospereira
        </p>

        <p><b>Gerenciador de Patrimônios</b></p>

        <p>
            A aplicação de gerenciamento de patrimônios da empresa Senai Shunji Nishimura permite visualizar, cadastrar,
            atualizar, importar e exportar dados dos patrimônios, além de imprimir códigos QR. Desenvolvida com Node JS,
            Express, EJS e MySQL, a aplicação inclui funcionalidades de escaneamento de QR codes, gerenciamento de
            usuários com criptografia de senha, e controle de acesso por e-mail e senha. O cache local armazena tokens
            temporários para segurança, com limpeza automática a cada 15 minutos.
        </p>

        <p><b>Gestão de Saúde Movement</b></p>

        <p>Este é um projeto criado para a empresa Movement. Este projeto tem a finalidade de gerenciar as informações
            de saúde dos funcionários da empresa. As informações são enviadas para a aplicação e armazenadas <br><br><br> em um banco
            de dados. Este projeto é baseado em Node JS. Utilizando um banco de dados MariaDB. O Front-End foi
            construído com a View Engine, EJS.</p>


        <p><b>Manutenção de Maquias</b></p>

        <p>
            A aplicação de manutenção de máquinas organiza o histórico de manutenção com base no projeto de
            "patrimônios". Desenvolvida com funcionalidades de cadastro, atualização, importação e exportação de
            máquinas, além de impressão de códigos QR e gerenciamento de registros. Possui três níveis de usuários
            (administrador, professor e aluno) com diferentes permissões. Inclui um sistema de cache em JavaScript para
            segurança e controle de manutenções.
        </p>

        <p><b>Calendário</b></p>

        <p>
            Este calendário, desenvolvido em JavaScript, HTML e CSS, calcula os dias dos anos de 1 a 5000, incluindo os
            calendários Juliano e Gregoriano. A data da Páscoa é calculada usando os métodos de Dionysius Exiguus para
            os anos Julianos e de Tom O'Beirne para os anos Gregorianos. A primeira versão foi concluída em setembro de
            2023.
        </p>

        <h2>Habilidades</h2>

        <p>Capacidade de Aprendizado Rápido | Organização | Curiosidade e Iniciativa | Boa Comunicação | Noções
            de Banco de Dados | Lógica de Programação | Conhecimento de Programação.</p>

    </header>
</body>

</html>